doctype 
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Main Menu (PUG)
        style.
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
           
            body {
                font-family: Poppins, sans;
                color: #fff;
                padding: 0;
                background: #0094c4 url(images/logopug.jpg) no-repeat center;
                background-size: contain;
                min-height: 100vh;
            }
            h1{
                color: #000;

            }
            ul.links {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                gap: 10px;
            }
            ul.links li a:link,
            ul.links li a:visited {
                background-color: #000;
                border: 1px solid #fff;
                display: flex;
                border-radius: 20px;
                color: #fff;
                padding: 4px 16px;
                text-decoration: none;
                transition: all 0.2s ease-in;
                width: 200px;
            }
            ul.links li a:hover {
                background-color: #ffffff66
            }
    body 
        h1 Main menu (PUG)
        ul.links
            li
                a(href='html/01_document.html')  01 - Document
            li
                a(href='html/02-attributes.html')  02 - Attributes
            li
                a(href='html/03-style-attr.html')  03 - Style Atrribute
            li
                a(href='html/04-variables-attr.html')  04 - Variables
            li
                a(href='html/05-literal-attr.html')  05 - Literal Attributes
            li
                a(href='html/06-css.html')  06 - CSS
            li
                a(href='html/07-javascript.html')  07 - Javascript
            li
                a(href='html/08-cases.html')  08 - Cases
            li
                a(href='html/09-for-loop.html')  09 - For Loop
            li
                a(href='html/10-comments.html')  10 - Comments
            li
                a(href='html/11-conditionals.html')  11 - Conditionals
            li
                a(href='html/12-include.html')  12 - Include
            li
                a(href='html/13-include-text.html')  13 - Include Text
            li
                a(href='html/14-inheritance.html')  14 - Inheritance
            li
                a(href='html/15-iterations.html')  15 - Iterations
            li
                a(href='html/16-mixin.html')  16 - Mixins
            li
                a(href='html/17-Challenge.html')  17 - Challenge
            