h3 {
    background: linear-gradient(to right, #3a073a, #3296d8);
    text-align: center;
    font-size: 6rem;
    font-size: 700;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
@media (max-width: 800px) {
    h3 {
        font-size: 4rem;
    }
}