.header{
    width: 100%;
    background-color: orange;
    padding: 1em;

    .h1{
        background-color: aqua;
    }
    .a{}

    .button{
        background-color: crimson;
    }
    .svg{
        width: 2em;
        height: 2em;
    }

    .nav{
        background-color: bisque;
    }
    .ul{}
    .li{}

}